# editorconfig.org

# top-most EditorConfig file
root = true

# Default settings:
# A newline ending every file
# Use 4 spaces as indentation
[*]
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

# Generated code
[*{_AssemblyInfo.cs,.notsupported.cs,.generated.cs,.g.cs}]
generated_code = true

[*.cs]
charset = utf-8-bom
indent_style = space
indent_size = 4
insert_final_newline = true

dotnet_sort_system_directives_first = true

dotnet_style_qualification_for_field = true:suggestion
dotnet_style_qualification_for_property = true:suggestion
dotnet_style_qualification_for_method = true:suggestion
dotnet_style_qualification_for_event = true:suggestion

dotnet_style_require_accessibility_modifiers = for_non_interface_members:suggestion
dotnet_style_readonly_field = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion
dotnet_style_prefer_conditional_expression_over_assignment = true:suggestion
dotnet_style_prefer_conditional_expression_over_return = true:suggestion

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = none

dotnet_style_qualification_for_field = false:none
dotnet_style_qualification_for_property = false:none
dotnet_style_qualification_for_event = false:none
dotnet_style_qualification_for_method = false:none

[*.json]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true

[*.{xml,config}]
charset = utf-8-bom
indent_style = space
indent_size = 4
insert_final_newline = true

# Xml project files
[*.{csproj,proj}]
charset = utf-8
indent_size = 4

# PowerShell files
[*.{ps1,psd1,psm1}]
charset = latin1
