###############################################################################
# Set default behavior to keep line endings as is.
###############################################################################
* -text
